/* DEFAULTS */
body {	background-image: url('../images/layout/background.svg'); }
a { color:#64c371; }

/* LOGIN */ 

#loginbox { width: 600px; height:400px; margin: 70px auto 0px auto;  border-radius:25px; position: relative; background: rgba(255,255,255,0.7); border: 1px solid #ccc; }
#loginbox #logo { display:block; margin: 20px auto 0px auto; }
#loginbox .title { color: #777; text-align: center; margin:0; }
#loginbox .formbox div div input { text-align: center; }
#loginbox .formbox { width: 300px; margin:20px auto 20px auto; }


/* NAV */
.navbar { border-radius: 0 0 10px 10px; }
.navbar-default { background-color: rgba(255,255,255,0.75); border-color:transparent;}
.sidenav { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7); padding:30px 15px 15px; border-radius:10px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: rgba(100, 195, 113, 0.35); }
.nav-pills > li > a { border-radius: 0px 0px 15px 0px; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #64c371; }
.nav > li > a:hover, .nav > li > a:focus { background-color: #9cde8d; }


/* CONTENT */
.content { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7); padding:20px; border-radius:10px;}


/* STYLING DEFAULTS */
.margin-10 { margin: 10px; }
.margin-20 { margin: 20px; }
.margin-30 { margin: 30px; }
.margin-40 { margin: 40px; }
.margin-50 { margin: 50px; }
.margin-60 { margin: 60px; }

.margin-top-10 { margin-top:10px; }
.margin-top-20 { margin-top:20px; }
.margin-top-30 { margin-top:30px; }
.margin-top-40 { margin-top:40px; }
.margin-top-50 { margin-top:50px; }
.margin-top-60 { margin-top:60px; }

.margin-bottom-10 { margin-bottom:10px; }
.margin-bottom-20 { margin-bottom:20px; }
.margin-bottom-30 { margin-bottom:30px; }
.margin-bottom-40 { margin-bottom:40px; }
.margin-bottom-50 { margin-bottom:50px; }
.margin-bottom-60 { margin-bottom:60px; }

.margin-left-10 { margin-left:10px; }
.margin-left-20 { margin-left:10px; }
.margin-left-30 { margin-left:10px; }
.margin-left-40 { margin-left:10px; }
.margin-left-50 { margin-left:10px; }
.margin-left-60 { margin-left:10px; }

.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 10px; }
.margin-right-30 { margin-right: 10px; }
.margin-right-40 { margin-right: 10px; }
.margin-right-50 { margin-right: 10px; }
.margin-right-60 { margin-right: 10px; }

.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }
.padding-50 { padding: 50px; }
.padding-60 { padding: 60px; }

@media (max-width: 767px) {
    .indienstneming { display:none !important; }
}

#confirm            { border-radius:5px; border:red 1px solid; padding:10px; }
#confirm h4         { margin-top:0; }
#confirm a          { padding:5px; border-radius:5px; background:#B0EC98; }
#confirm a:hover    { background: red; }

.center             { text-align: center; }
.subteamselect      { min-height:295px; }
.verdeling          { background: rgba(255,255,255,0.7); }
.ureninput          { width:40px; }